h1, h2 {color: green;}

p {color: black;}

ul {border: 2px solid pink;}

ol {border: 2px solid purple;}

ol, ul {
          padding: 7px 25px;
          border-radius: 4px;
       } 

strong {color: blue;}

em {color: gray;}